<ion-tabs class="tabs-icon-top tabs-color-active-positive tabs-top">

  <!-- Tasks Tab -->
  <ion-tab title="Tasks" icon="ion-clipboard" href="#/tab/tasks">
    <ion-nav-view name="tab-tasks"></ion-nav-view>
  </ion-tab>

  <!-- QR Tab -->
  <ion-tab title="QR" icon="ion-qr-scanner" href="#/tab/qr">
    <ion-nav-view name="tab-qr"></ion-nav-view>
  </ion-tab>

  <!-- Logout Tab -->
  <ion-tab title="Logout" icon="ion-log-out" href="#/tab/logout">
    <ion-nav-view name="tab-logout"></ion-nav-view>
  </ion-tab>


</ion-tabs>
